.App {
  max-width: 325px;
  margin: auto;
  align-content: center;
  justify-content: space-between;
  font-family: sans-serif;
  border-radius: 10px;
  background: white;
  padding: 10px;
  margin-top: 50px;
  height: 85vh;
  overflow: scroll;
}

.App button, .App input {
  border-radius: 0;
  border-width: 2px;
  border-color: #555;
  font-size: 14px;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-style: solid;
}

.App button {
  cursor: pointer;
}

.App button:disabled {
  cursor: not-allowed;
  border-color: #eee;
  color: #eee;
}